{% extends "base/base.html" %}
{% block titulo %}Lista de Programas{% endblock %}
{% block contenido %}
    <style>
        table, th, tr, td {
            border: 1px solid black;
        }
    </style>
  <h2>Lista de Programas</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Tipo Asistencias</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
        </tr>
        {% for programa in programas %}
            <tr>
              <td><a href="{% url 'programa:programa_detalle' programa.id %}">{{ programa.nombre }}</a></td>
              <td> <ul>
                  {% for asistencia in programa.tipo_asistencias.all %}
                    <li>{{ asistencia }}</li>
                  {% endfor %}
                </ul> </td>
              <td>{{ programa.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ programa.fecha_fin|default_if_none:"---"  }}</td>
            </tr>
        {% endfor %}
   </table>
{% endblock %}