{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="contenedor">
            <header>
                <a href="/"><img src="{% static 'img/trabajosocial.jpg' %}"
                    alt="Logo que muestra figuras de personas entrelazadas" width="780" height="200" > </a>
                <h1>Sistema de Gestión de Asistencias Sociales</h1>
            </header>
            <ul class="menu">
              <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Programas</a>
                <div class="dropdown-content">
                  <a href="{% url 'programa:programa_lista' %}">Listar</a>
                  <a href="{% url 'programa:programa_create' %}">Crear</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Personas</a>
                <div class="dropdown-content">
                  <a href="{% url 'persona:persona_lista' %}">Listar</a>
                  <a href="{% url 'persona:persona_create' %}">Crear</a>
                </div>
              </li>
            </ul>
            <section>
                {% block contenido %}
                {% endblock %}
            </section>
            <br>
            <footer>
                <p><strong>Instituto de Asistencia Social</strong></p>
                <p>Para más información consultar el
                    <a href="https://www.instasist.org/" target="_blank">Portal del Instituto de Asistencia Social</a>.
                </p>
            </footer>
        </div>
    </body>
</html>