{% extends "base/base.html" %}
{% block titulo %}Home de Asistencias{% endblock %}
{% block contenido %}
    <h2>Portada Principal</h2>
    <h3>Descripción de la WebApp “Asistencias”</h3>
    <p>
        Una Institución de beneficencia otorga distintas ayudas a personas con escasos recursos,
        según Programas definidos con anterioridad.
    </p>
    <h3>Requisitos principales:</h3>
    <ul>
        <li>Gestionar los tipos de asistencias que puede brindar un programa.</li>
        <li>Gestionar los programas que brindan asistencia directa a las personas.</li>
        <li>Gestionar las personas a quienes se le brinda asistencias.</li>
        <li>Gestionar las asistencias otorgadas a cada persona.</li>
        <li>Gestionar usuarios y roles</li>
    </ul>

    <h3>URL de Repositorio - Rama Master:</h3>
    <p>https://github.com/unca-programacion3/asistencias.git</p>
{% endblock %}