* {box-sizing: border-box;}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (min-width: 480px) {
    .contenedor {
        width: 780px;
        margin:0 auto;
    }
}

footer {
    padding: 10px;
    background-color: #f2f2f2;
}

section {
    padding: 15px;
}
ul {
    list-style-type: square;
    margin-left: 20px;
}

p {
    margin:10px;
}
.campo {
   margin: 10px;
}
label {
    font-weight: bold;
}
.errorlist {
    color: red;
}

table, th, tr, td {
    border: 1px solid black;
}
.message {
    background-color: #ccf5ff;
    border: 1px solid #cccccc;
    padding: 10px;
}

.error {
    background-color: #ffb3b3;
    border: 1px solid #cccccc;
    padding: 10px;
}